body{
    overflow-x: hidden;
}

h2 {
    font-size: 20px;
}

#container #card {
    display: flex;
    align-items: center;
    margin-left: 600px;
}

.nav-pills .nav-link {
    color: gray;
}

.nav-pills .nav-link.active {
    background-color: transparent;
    border: none;
    color: rgb(12, 104, 179);
}

#pills-home img{
    object-fit: cover;
    transition: .2s linear;
}

#pills-home img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.botones button {
    margin-inline-end: 7px;
}